<!DOCTYPE html>
<html lang="en" class="h-100" data-bs-theme="auto">
<head>
    <!-- ... -->
    <style>
        .custom-font {
            font-family: 'Leelawadee UI', 'Arial Narrow', Arial, sans-serif;
        }

        .shadow-bottom {
            box-shadow: 0 6px 8px -1px rgba(0, 0, 0, 0.1), 0 4px 6px -1px rgba(0, 0, 0, 0.06);
        }

        html, body {
            height: 100%;
        }

        body {
            display: flex;
            flex-direction: column;
        }

        footer {
            bottom: 0;
            padding: 10px 0;
            text-align: center;
            flex-shrink: 0;
            font-size: 0.7rem;
        }

            footer h5 {
                margin-bottom: 0.5rem;
                font-size: 0.8rem;
            }

            footer ul {
                list-style-type: none;
                padding-left: 0;
            }

                footer ul li {
                    margin-bottom: 0.5rem;
                }

                    footer ul li i {
                        margin-right: 0.5rem;
                    }

            footer a {
                color: white;
                text-decoration: none;
            }

                footer a:hover {
                    text-decoration: underline;
                }

            footer p {
                margin: 0;
                font-size: 0.7rem;
                text-align: right;
            }

        .container-fluid {
            padding-left: 15px;
            padding-right: 15px;
            padding-bottom: -10px;
        }
    </style>
    <script>
        document.addEventListener('DOMContentLoaded', function () {
            const themeSwitchers = document.querySelectorAll('[data-bs-theme-value]');
            const currentTheme = localStorage.getItem('theme') || 'auto';

            setTheme(currentTheme, false);

            themeSwitchers.forEach(switcher => {
                switcher.addEventListener('click', function () {
                    const newTheme = this.getAttribute('data-bs-theme-value');
                    setTheme(newTheme, true);
                });
            });

            window.matchMedia('(prefers-color-scheme: dark)').addEventListener('change', e => {
                if (localStorage.getItem('theme') === 'auto') {
                    const newAutoTheme = e.matches ? 'dark' : 'light';
                    setTheme(newAutoTheme, false);
                }
            });

            function setTheme(theme, save) {
                const isDarkMode = window.matchMedia('(prefers-color-scheme: dark)').matches;
                const finalTheme = theme === 'auto' ? (isDarkMode ? 'dark' : 'light') : theme;

                document.documentElement.setAttribute('data-bs-theme', finalTheme);
                document.body.className = finalTheme === 'light' ? 'd-flex h-auto text-bg-light' : 'd-flex h-auto text-bg-dark';

                if (save) {
                    localStorage.setItem('theme', theme);
                }

                themeSwitchers.forEach(switcher => {
                    switcher.classList.toggle('active', switcher.getAttribute('data-bs-theme-value') === theme);
                });
            }
        });
    </script>

    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    <link href="~/Content/cover.css" rel="stylesheet" />
    @Scripts.Render("~/bundles/modernizr")
</head>
<body class="d-flex h-100 text-bg-dark">
    <div class="h-100 d-flex mx-auto flex-column w-100">
        <header>
            <div class="px-3 py-2 shadow-bottom">
                <a aria-current="page" class="navbar-brand fw-bolder fs-2 custom-font" href="/Home/Index">MELEK YATIRIM</a>
                <nav class="nav nav-masthead justify-content-center float-md-end mx-xl-5">
                    <a class="nav-link fw-bold py-1 px-2 active" aria-current="page" href="/Home/Index">Ana Sayfa</a>
                    <a class="nav-link fw-bold py-1 px-2" href="/Home/Contact">Yardımlarım</a>
                    <a class="nav-link fw-bold py-1 px-2" href="/YardimEt/YardimEt">Yardım Et</a>
                    <a class="nav-link fw-bold py-1 px-2" href="/YardimTalebi/YardimTalepEt">Yardım Al</a>
                    <a class="nav-link fw-bold py-1 px-2" href="/Home/Contact">Profilim</a>
                    @if (Session["KullaniciId"] != null)
                    {
                        <form action="/Acc/Logout" method="post">
                            @Html.AntiForgeryToken()
                            <button type="submit" class="nav-link fw-bold py-1 px-2 btn btn-link">Çıkış</button>
                        </form>
                    }
                    else
                    {
                        <a class="nav-link fw-bold py-1 px-2" href="/Acc/Login">Giriş</a>
                        <a class="nav-link fw-bold py-1 px-2" href="/Register/Index">Kayıt Ol</a>
                    }
                </nav>
            </div>
        </header>
        <div class="py-5 container">
            @RenderBody()
        </div>
        <footer class="bg-dark text-white pt-2">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-4">
                        <h5>İletişim</h5>
                        <ul class="list-unstyled">
                            <li><i class="fas fa-phone-alt"></i> Telefon: +90 123 456 78 90</li>
                            <li><i class="fas fa-envelope"></i> E-posta: info@agisstudio.com</li>
                            <li><i class="fas fa-map-marker-alt"></i> Adres: Yurtkur Cad. No: 123, Kırıkkale, Türkiye</li>
                        </ul>
                        <div class="social-links">
                            <a href="#">Facebook</a>
                            <a href="#">Twitter</a>
                            <a href="#">Instagram</a>
                            <a href="#">LinkedIn</a>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <h5>Site Haritası</h5>
                        <ul class="list-unstyled">
                            <li><a href="/Home/Index" class="text-white">Ana Sayfa</a></li>
                            <li><a href="/Home/About" class="text-white">Hakkımızda</a></li>
                            <li><a href="#" class="text-white">Hizmetler</a></li>
                            <li><a href="#" class="text-white">Blog</a></li>
                            <li><a href="/Home/Contact" class="text-white">İletişim</a></li>
                        </ul>
                    </div>
                    <div class="col-md-4">
                        <h5>Yasal Bilgiler</h5>
                        <ul class="list-unstyled">
                            <li><a href="#" class="text-white">Gizlilik Politikası</a></li>
                            <li><a href="#" class="text-white">Kullanım Şartları</a></li>
                            <li><a href="#" class="text-white">Çerez Politikası</a></li>
                        </ul>
                    </div>
                </div>
                <div class="row">
                    <div class="col text-right">
                        <p>&copy; 2024 Tüm Hakları Saklıdır. AGIS Studio.</p>
                    </div>
                </div>
            </div>
        </footer>
    </div>

    <svg xmlns="http://www.w3.org/2000/svg" class="d-none">
        <symbol id="check2" viewBox="0 0 16 16">
            <path d="M13.854 3.646a.5.5 0 0 1 0 .708l-7 7a.5.5 0 0 1-.708 0l-3.5-3.5a.5.5 0 1 1 .708-.708L6.5 10.293l6.646-6.647a.5.5 0 0 1 .708 0z" />
        </symbol>
        <symbol id="circle-half" viewBox="0 0 16 16">
            <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zM8 0a8 8 0 1 0 0 16A8 8 0 0 0 8 0z" />
        </symbol>
        <symbol id="moon-stars-fill" viewBox="0 0 16 16">
            <path d="M6 0a.5.5 0 0 1 .5.5v1.09a.5.5 0 0 1-.374.48 5.5 5.5 0 1 0 6.705 6.705.5.5 0 0 1 .854-.373A7 7 0 1 1 6 .021V.5A.5.5 0 0 1 6 0z" />
            <path d="M11.354 4.354a.5.5 0 0 1 .708 0l.5.5a.5.5 0 0 1-.707.707l-.5-.5a.5.5 0 0 1 0-.707zm2-2a.5.5 0 0 1 .707 0l.5.5a.5.5 0 1 1-.707.707l-.5-.5a.5.5 0 0 1 0-.707zm0 4a.5.5 0 0 1 .707 0l.5.5a.5.5 0 1 1-.707.707l-.5-.5a.5.5 0 0 1 0-.707z" />
        </symbol>
        <symbol id="sun-fill" viewBox="0 0 16 16">
            <path d="M8 4.5a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-1 0v-1a.5.5 0 0 1 .5-.5zm0 4a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-1 0v-1a.5.5 0 0 1 .5-.5zm3-1.5a.5.5 0 0 1 .5.5h1a.5.5 0 0 1 0 1h-1a.5.5 0 0 1-.5-.5zm-7 0a.5.5 0 0 1 .5.5H4.5a.5.5 0 0 1 0 1H3.5a.5.5 0 0 1-.5-.5zm.636-2.864a.5.5 0 0 1 .707 0l.5.5a.5.5 0 0 1-.707.707l-.5-.5a.5.5 0 0 1 0-.707zm6.528 6.528a.5.5 0 0 1 .707 0l.5.5a.5.5 0 0 1-.707.707l-.5-.5a.5.5 0 0 1 0-.707zm.707-6.528a.5.5 0 0 1 0 .707l-.5.5a.5.5 0 1 1-.707-.707l.5-.5a.5.5 0 0 1 .707 0zM4.864 10.864a.5.5 0 0 1 0 .707l-.5.5a.5.5 0 1 1-.707-.707l.5-.5a.5.5 0 0 1 .707 0zM8 3a5 5 0 1 1 0 10A5 5 0 0 1 8 3z" />
        </symbol>
        <symbol id="sun" viewBox="0 0 16 16">
            <path d="M8 4.5a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-1 0v-1a.5.5 0 0 1 .5-.5zm0 4a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-1 0v-1a.5.5 0 0 1 .5-.5zm3-1.5a.5.5 0 0 1 .5.5h1a.5.5 0 0 1 0 1h-1a.5.5 0 0 1-.5-.5zm-7 0a.5.5 0 0 1 .5.5H4.5a.5.5 0 0 1 0 1H3.5a.5.5 0 0 1-.5-.5zm.636-2.864a.5.5 0 0 1 .707 0l.5.5a.5.5 0 0 1-.707.707l-.5-.5a.5.5 0 0 1 0-.707zm6.528 6.528a.5.5 0 0 1 .707 0l.5.5a.5.5 0 0 1-.707.707l-.5-.5a.5.5 0 0 1 0-.707zm.707-6.528a.5.5 0 0 1 0 .707l-.5.5a.5.5 0 1 1-.707-.707l.5-.5a.5.5 0 0 1 .707 0zM4.864 10.864a.5.5 0 0 1 0 .707l-.5.5a.5.5 0 1 1-.707-.707l.5-.5a.5.5 0 0 1 .707 0zM8 3a5 5 0 1 1 0 10A5 5 0 0 1 8 3z" />
        </symbol>
        <symbol id="moon" viewBox="0 0 16 16">
            <path d="M6 0a.5.5 0 0 1 .5.5v1.09a.5.5 0 0 1-.374.48 5.5 5.5 0 1 0 6.705 6.705.5.5 0 0 1 .854-.373A7 7 0 1 1 6 .021V.5A.5.5 0 0 1 6 0z" />
        </symbol>
    </svg>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
